.container{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #ff0000, #ffffff93); 
  background: linear-gradient(to right, #ff0000, #ffffff93);
  color:whitesmoke;
  height:100vh;
}

.title{
    text-align: center;
}

.registerForm{
  width:25rem;
  margin: auto;
  color:rgb(28, 0, 0);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(131, 11, 11, 0.582);
  border-radius: 20px;
  border: 5px solid rgba(255, 6, 6, 0.125);
}

.inputBox{
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

.registerButton {
    background-color: #ffffff;
    color: rgb(5, 0, 0);
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

.registerButton:hover {
    opacity: 0.6;
    cursor: pointer;
  }