/* .App {
  text-align: center;
  display: flex; 
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(79deg, #fcfced, #fcedfc 40%, #ebf6ff);
} */

.login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.loginButton {
  font-family: 'Inter';
  font-weight: 900;
  letter-spacing: 1px;
  position: fixed;
  display: flex;
  right: 0;
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius:30px;
  padding: 11px;
}

.loginButton:hover {
  color: #f59842;
  cursor: pointer;
}

.loginInformation {
  display: flex;
  align-items: center;
}

.login.show {
  opacity: 1;
  pointer-events: visible;
}

.login:global(.enter-done) {
  opacity: 1;
  pointer-events: visible;
}

.login.exit {
  opacity: 0;
}

.login-content {
  width: 500px;
  background-color: #fff;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.login:global(.enter-done) .login-content {
  transform: translateY(0);
}

.login.exit .login-content {
  transform: translateY(-200px)
}

.login-header, .login-footer {
  padding: 10px;
}

.login-title {
  margin: 0;
}

.login-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
